* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Images/cover1.jpg);
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
  border-radius: 10px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li a::after {
  display: block;
  content: "";
  width: 0%;
  background: #ff5e00;
  height: 2px;
  margin: auto;
  transition: 0.3s ease;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 90px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
}
.hero-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 16px;
  font-size: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease;
}
.hero-btn:hover {
  border: 1px solid #ff5e00;
  background: #ff5e00;
}
.about {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.about img {
  width: 100%;
  border-radius: 10px;
}
.about .owner-image {
  padding: 2% 6%;
}
.about .owner-about {
  margin: 2% 6%;
  padding: 5%;
  border: 1px solid #df5302e5;
  color: #fff;
  background: #df5302e5;
  border-radius: 10px;
}
.about .owner-about h1 {
  font-size: 60px;
}
.about .owner-about p {
  margin: 10px 0 40px;
  font-size: 20px;
}
.specials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./Images/cover2.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.specials .title {
  text-align: center;
  margin-top: 40px;
}
.specials .title h1 {
  font-weight: 90px;
  color: #fff;
  padding: 25px;
  background-color: #df5302e5;
}
.special-images {
  display: flex;
  flex-basis: 33%;
  align-items: center;
  justify-content: center;
}
.special-images img {
  border-radius: 80px;
  width: 500px;
  padding: 3% 1%;
  margin: 3%;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 50px;
  }
  .text-box p {
    font-size: 25px;
  }
  .about {
    flex-direction: column;
  }
  .special-images {
    flex-direction: column;
  }
  .special-images img {
    width: 300px;
  }
}
#back {
  margin: 40px 20px;
}
